<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ma page de contact</title>
</head>
<body>
    <div class="contact_form">
        <form action="" method="post">
            <input type="text" name="lastname" id="lastname">
            <input type="text" name="firstname" id="firstname">
            <input type="text" name="message" id="message">
            <label for="lastname">Nom :</label>
            <label for="firstname">Prénom :</label>
            <label for="message">Message :</label>
        </form>
    </div>
</body>
</html>